<h1><%= @employee.first_name %> <%= @employee.last_name %></h1>
<h2>Email: <%= @employee.email %></h2>
<h4>Phone Numbers:</h4>
<ul>
<% @employee.phone_numbers.each do |phone_number| %>
  <li><%= phone_number["phone_type"] %>: <%= phone_number["number"] %></li>
<% end %>
</ul>